<main>

    <!--====== Checkout Form Steps Part Start ======-->

    <section class="checkout-wrapper section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="checkout-steps-form-style-1">
                        <ul id="accordionExample">
                            <li>
                                <section class="checkout-steps-form-content collapse show" id="collapseThree"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <h3 style="font-size: 1.5em;" class="h6-payment-way-chackout-form">Моля потвъдете
                                        верността на вашите данни</h3>
                                    <form action="/userdata" method="POST" class="row">
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Потребителско име</label>
                                                <div class="row">
                                                    <div class="col-md-6 form-input form">
                                                        <input name="name" type="text" autocomplete="on"
                                                            value="{{user.name}}">
                                                    </div>
                                                    <div class="col-md-6 form-input form">
                                                        <input name="surname" type="text" autocomplete="on"
                                                            value="{{user.surname}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Е-mail</label>
                                                <div class="form-input form">
                                                    <input name="email" type="text" autocomplete="on"
                                                        value="{{user.email}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Телефон за контакт</label>
                                                <div class="form-input form">
                                                    <input name="phone" type="text" autocomplete="on"
                                                        value="{{user.phone}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Пълен адрес за доставка (или адрес на офис на куриерска
                                                    фирма)</label>
                                                <div class="form-input form">
                                                    <input name="address" type="text" autocomplete="on"
                                                        value="{{user.address}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Начин на плащане</label>
                                                <div class="form-input form">
                                                    <input name="paymentMethod" type="text" autocomplete="on"
                                                        value="{{user.payment-method}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form button">
                                                <button class="btn" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">продължи</button>
                                            </div>
                                        </div>
                                         <form action="/user/checkout" method="GET" class="row">
                                        <div class="col-md-12">
                                            <div class="single-form button">
                                                <button class="btn" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour"> назад </button>
                                            </div>

                                        </div>
                                    </form>
                                    </form>
                                   



                                </section>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--====== Checkout Form Steps Part Ends ======-->




</main>